@import '../../assets/variables';

.articles-section {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background-color: $primary-dark-background-color;
}

.articles-section-header {
    font-family: $primary-font;
    color: $primary-light-text-color;
    margin: 20px;
    padding-top: 40px;
    text-align: center;
}

.articles-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: space-between;
    flex-wrap: wrap;
}

