@import '../../assets/variables';

.countdown-counter {
    box-sizing: border-box;
    width: 75vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $primary-light-text-color;
    font-family: $primary-font;
}

.countdown-counter-text {
    padding: 20px;
}

.countdown-counter-time {
    font-size: 20px;
    padding: 20px;
}



