@import '../../assets/variables';

*, *::before {
    box-sizing: border-box;
}

.gallery-section {
    width: 100%;
    height: 100vh;
    font-family: $primary-font;
    position: relative;
    background-color: $primary-dark-background-color;

    .gallery-header {
        color: $primary-light-text-color;
        text-align: center;
        margin: 20px auto;
        padding-top: 40px;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        width: 100%;
        margin: 0 auto;
        justify-items: center;
    
        img {
            width: 200px;
            height: 200px;
            // width: 100%;
            border: 5px solid $primary-light-background-color; 
        }
    
        div {
            position: relative;
            cursor: pointer;

            &:before, &:after {
                transition: .3s opacity ease;
                opacity: 0;
            }

              &:before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 4px;
                left: 0;
                right: 0;
                background: rgba($primary-dark-background-color, 0.5);
                display: block;
              }

                &:hover {
                    &::before {
                        opacity: 1;
                        transition: 0.4s opacity ease;  
                    }
                }
        }
    }
    
    
}

.full-size-div {
    // min-width: 500px;
    // min-height: 500px;
    position: absolute;
    top: 0;
    left: 100px;
    z-index: 9999;
    background-color: white;
}

.full-size-img {
    width: 100%;
    height: 100%;
    // position: relative;
    // z-index: 9999;
}







