@import '../../assets/variables';

.next-launch-info {
    box-sizing: border-box;
    min-width: 50vw;
    min-height: 50vh;
    background-color: $primary-dark-background-color;
    color: $primary-light-text-color;
    // display: none;
}

