@import '../../assets/variables';

.page-banner {
    box-sizing: border-box;
    width: 100vw;
    height: 500px;
    position: relative;
}

.page-banner-container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: $primary-dark-background-color;
    background-image: url(../../assets/Mars_planet_view.jpg);
    background-size: cover;
    background-position: center;
    // position: absolute;
    // top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
